body
{
    margin: 0;
    padding: 0;
}

:host::ng-deep.p-table{

    margin-right: 50%;
}
.repotable
{
    text-align: center;
    margin-left: 30%;
    margin-top: -55%;
    border: solid 1px;
    width: 650px;
    height: 400px;
}
.buttons
{
    margin-top: 10%;
    justify-content: space-between;
    margin: 10%;
}
#btn1
{
    margin-right: 50px;
}
.btn{

    margin-left: 10%;
    margin-top: -10%;
    border: solid 1px;
    
    /* width: 100px; */
    /* height: 100px; */
}
:host::ng-deep.p-button{
    font-size: larger;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}
.btn1
{
    margin-left: 10%;
    margin-top: -10%;
    border: solid 1px;
    height: 700px;
    width: 100px;
}


body{
    margin: 0;
    padding: 0;
    position: fixed;
}


.navbar{
    height: 60px;
    background-color: rgba(252, 228, 218, 0.836);
    padding: 10px;
    margin-left: -7px;
    margin-top: -8px;
    margin-right: -10px;
    
}
b i{
    margin-right: 93%;
    font-size: xx-large;
    
    
}
.sidenav{
    height: 849px;
    width: 70px;
    background-color: rgba(252, 228, 218, 0.836);
    margin-left: -7px;

}
:host::ng-deep.p-image{

    border-color: darkcyan;
    
}
.img
{
    margin-right: 95%;
    margin-top: 2%;
}
.btn
{
    margin-left: -60%;
    margin-top: -10%;
}

h3
{
    margin-top: -90px;
}
.repo-table{
    margin-left: 30%;
}
.name
{
    width: 250px;
}
:host::ng-deep.p-dropdown{

    width: 250px;
    margin-left: 78px;
}

:host ::ng-deep .p-dialog  {
    width: 150px;
    margin: 0 auto 2rem auto;
    display: block;
}

